body {
    margin: 0;

    /* padding: 1em; */
    
    /* Remove width - uncomment the rest - work on a more responsive design.*/
    width: 600px;

    font-family: "Smythe", sans-serif;
    
} 

/* header > img{
    width: 100%; 
    border-radius: 10px; 
} */

main{
    width: 525px;
    margin: auto;
    margin-bottom: 30px;
}



/* LAYOUT */

.margin-left-auto{
    margin-left: auto;
}

.slight-indent{
    margin-left: 10px;
}

.discount-code-el,
.itemized-line{
    display:flex;
    align-items: center;
}

.menu-item{
    border-bottom: 1.5px solid #d2d2d2;
    padding: 30px 0px 30px 0px;
}

.item-info h1{
    margin-bottom: 0px;
}

.item-info p{
    margin-top: 2px;
    margin-bottom: 14px;
}

.order-section h1{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
}

.order-list{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.discount-code-el{
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.discount-line{
    margin-bottom: 8px;
    position: relative;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #074530;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 300px;
    bottom: 100%; 
    left: 75%;
    margin-left: -170px; 
}

.modal form{
    margin-top: 45px;
    display: flex; 
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.receipt{
    width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 35px;
}

.receipt p{
    margin: 5px 0px;
}

.rate-experience-el{
    margin-top: 45px;
}



/* BUTTONS, INPUT AND INTERACTIVE ELEMENTS */ 

.btn,
.add-item-btn, 
.close-modal{
    cursor: pointer;
}

.btn{
    color: white; 
    border-radius: 3px;
    width: 100%;
    padding: 20px;
    font-weight: bold;
    margin-top: 30px; 
}

.add-discount-btn,
.discount-code-el input{
    padding: 5px 10px; 
    border-radius: 12px;
}

.add-discount-btn, 
.btn{
    background-color: #16DB99;
    border: none;
}

.btn:active, 
.btn:hover, 
.add-discount-btn:active, 
.add-discount-btn:hover{
    background-color: #36f8b7;
}

.btn:disabled,
form:invalid button:hover,
form:invalid button{
    background-color: rgb(219, 219, 219);
    color: #757575;
    cursor: not-allowed;
}

.rating-stars{
    margin-top: 10px;
    color: #16DB99;
}

.discount-code-el input{
    border: 1px solid black; 
}



/* IMAGES */

.item-img{
    width: 80px;
    height: 80px;
    padding-right: 30px;
}



/* TYPOGRAPHY */

.bold{
    font-weight: 600;
}

.modal, 
.btn, 
.discount-code-el,
.remove-item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#order-information-el{
    font-family: "Smythe", sans-serif;
}

.ordered-item, 
.total-sum, 
h1{
    font-size: 28px;
    font-weight: 400;
}

.discount-line,
p{
    font-size: 20px;
}

.item-ingredient-list,
.btn{
    font-size: 16px;
}

.small, 
.remove-item,
.discount-code-el{
    font-size: 12px;
}

.item-ingredient-list,
.remove-item,
.faded-text{
    color: #8B8B8B;
}


/* SPECIAL FORMATTING CLASSES */

.display-none{
    display: none;
}

.error-msg{
    color: #de4646;
}

.input-error{
    border: 1px solid #de4646;
    background-color: #ffd8d8;
}



/* MODAL */

#modal-div{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: transparent;
}

.modal{
    background-color: white;
    text-align: center;
    padding: 20px;
    padding: 50px 20px;
    width: 490px;
    position: absolute;
    top: 150px;
    left: 35px;
    box-shadow: 0 0 150px 0px black;
}

.modal input{
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #757575;
}

.close-modal{
    display: flex; 
    flex-direction: row-reverse;
    margin: 25px 15px auto auto;
}

